<!-- <ion-content> -->
    <div class="body">
        <!-- ==========Preloader========== -->
        <div class="preloader">
            <div class="preloader-inner">
                <div class="preloader-icon">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- ==========Preloader========== -->
        <!-- ==========Overlay========== -->
        <div class="overlay"></div>
        <a href="#" class="scrollToTop">
            <i class="fal fa-long-arrow-alt-up"></i>
        </a>
        <!-- ==========Overlay========== -->


        <!-- ==========Banner-Section========== -->
        <section class="banner-section">
            <div class="banner-bg bg-fixed" style="background:url('/assets/img/banner/banner-event.jpg')"></div>
            <div class="container">
                <div class="banner-content">
                    <h1 class="title bold"> <span class="color-theme">event</span> details</h1>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. </p>
                </div>
            </div>
        </section>
        <!-- ==========Banner-Section========== -->

        <!-- ==========Event-Book-Search========== -->

        <!-- <section class="event-book-search ">
            <div class="container">
                <div class="event-search">
                    <div class="event-search-top">
                        <div class="left">
                            <h3 class="title">upcoming Date</h3>
                        </div>
                        <div class="right">
                          <ul class="countdown">
  <li><h2><span>{{ days }}</span></h2><p>Days</p></li>
  <li><h2><span>{{ hours }}</span></h2><p>Hours</p></li>
  <li><h2><span>{{ minutes }}</span></h2><p>Minutes</p></li>
  <li><h2><span>{{ seconds }}</span></h2><p>Seconds</p></li>
</ul>
                            <div class="">

                                <a href="/event-checkout" class="custom-button">book tickets</a>
                                <button id="manageTicketsBtn" class="custom-button" style="width: 185px;">Manage
                                    Tickets</button>

                            </div>
                        </div>
                    </div>
                    <div class="event-search-bottom">
                        <div class="contact-side">
                            <div class="item">
                                <div class="item-thumb">
                                    <i class="fal fa-calendar-alt"></i>
                                </div>
                                <div class="item-content">
                                    <span class="up">10 Days (Monday-Friday)</span>
                                    <span>50+ Workshops</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-thumb">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="item-content">
                                    <span class="up"> 290 Private Lane Street</span>
                                    <span>New York, USA</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-thumb">
                                    <i class="fal fa-phone"></i>
                                </div>
                                <div class="item-content">
                                    <span class="up">Call Us:</span>
                                    <a href="#">+1 123 456 7894</a>
                                </div>
                            </div>
                        </div>
                        <ul class="social-icons">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="active">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- ==========Event-Book-Search========== -->

        <!-- ==========Event-About========== -->

        <section class="event-about padding-top padding-bottom">
            <div class="container">
                <div class="row justify-content-between flex-wrap-reverse">
                    <div class="col-lg-7 col-xl-6">
                        <div class="event-about-content">
                            <div class="section-header-3 left-style m-0">
                                <span class="cate">join our event</span>
                                <h2 class="title">Learning Conference - <span>2023</span></h2>
                                <p>
                                    There are many variations of passages of Lorem Ipsum available, but the majority
                                    have suffered alteration in some form, by injected humour, or randomised words which
                                    don't look even slightly believable. If you are going to use a passage of Lorem
                                    Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
                                    text. All the Lorem Ipsum generators on the Internet tend to repeat predefined
                                    chunks as necessary, making this the first true generator on the Internet. It uses a
                                    dictionary of over 200 Latin words.
                                </p>
                                <p>
                                    Sure there isn't anything embarrassing hidden in the middle of text. All the Lorem
                                    Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
                                    making this the first true generator on the Internet. It uses a dictionary of over
                                    200 Latin words.
                                </p>
                                <a href="/event-checkout" class="custom-button">book tickets</a>
                            </div>
                        </div>
                    </div>
                    <div class="event-about-thumb-cont">
                        <div class="event-about-thumb">
                            <img src="/assets/img/event/event-about.jpg" alt="event">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ==========Event-About========== -->

        <!-- ==========Gallery-Section========== -->

        <div class="speaker-gallery">
            <div class="row m-0">
                <div class="col-md-6 p-0">
                    <div class="row m-0">
                        <div class="col-sm-6 p-0">
                            <div class="gallery-item two">
                                <div class="gallery-thumb">
                                    <a href="/assets/img/gallery/1.jpg" class="img-pop">
                                        <i class="fal fa-compress"></i>
                                    </a>
                                    <img src="/assets/img/gallery/1.jpg" alt="gallery">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 p-0">
                            <div class="gallery-item two">
                                <div class="gallery-thumb">
                                    <a href="/assets/img/gallery/2.jpg" class="img-pop">
                                        <i class="fal fa-compress"></i>
                                    </a>
                                    <img src="/assets/img/gallery/2.jpg" alt="gallery">
                                </div>
                            </div>
                            <div class="gallery-item two">
                                <div class="gallery-thumb">
                                    <a href="/assets/img/gallery/3.jpg" class="img-pop">
                                        <i class="fal fa-compress"></i>
                                    </a>
                                    <img src="/assets/img/gallery/3.jpg" alt="gallery">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-0">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <a href="/assets/img/gallery/4.jpg" class="img-pop">
                                <i class="fal fa-compress"></i>
                            </a>
                            <img src="/assets/img/gallery/4.jpg" alt="gallery">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ==========Gallery-Section========== -->

        <!-- ==========Speaker-Section========== -->

        <!-- <section class="speaker-section padding-bottom padding-top">
            <div class="container">
                <div class="section-header-3">
                    <span class="cate">speakers</span>
                    <h2 class="title">event speakers</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout.</p>
                </div>
                <div class="speaker--slider">
                    <div class="speaker-slider owl-carousel owl-theme">
                        <div class="speaker-item">
                            <div class="speaker-thumb">
                                <a href="event-speaker.html">
                                    <img src="/assets/img/speaker/1.jpg" alt="speaker">
                                </a>
                            </div>
                            <div class="speaker-content">
                                <h5 class="title">
                                    <a href="event-speaker.html">
                                        Peggy Wetzel
                                    </a>
                                </h5>
                                <span>CEO & CO-FOUNDER</span>
                                <div class="speaker-social">
                                    <a href="#"><i class="fab fa-facebook"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="speaker-item" style="margin-left: 20px;">
                            <div class="speaker-thumb">
                                <a href="event-speaker.html">
                                    <img src="/assets/img/speaker/2.jpg" alt="speaker">
                                </a>
                            </div>
                            <div class="speaker-content">
                                <h5 class="title">
                                    <a href="event-speaker.html">
                                        Nicole Belisle
                                    </a>
                                </h5>
                                <span>CEO & CO-FOUNDER</span>
                                <div class="speaker-social">
                                    <a href="#"><i class="fab fa-facebook"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="speaker-item">
                            <div class="speaker-thumb">
                                <a href="event-speaker.html">
                                    <img src="/assets/img/speaker/3.jpg" alt="speaker">
                                </a>
                            </div>
                            <div class="speaker-content">
                                <h5 class="title">
                                    <a href="event-speaker.html">
                                        Sharon Lewis
                                    </a>
                                </h5>
                                <span>CEO & CO-FOUNDER</span>
                                <div class="speaker-social">
                                    <a href="#"><i class="fab fa-facebook"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="speaker-item">
                            <div class="speaker-thumb">
                                <a href="event-speaker.html">
                                    <img src="/assets/img/speaker/4.jpg" alt="speaker">
                                </a>
                            </div>
                            <div class="speaker-content">
                                <h5 class="title">
                                    <a href="event-speaker.html">
                                        Frank Johnson
                                    </a>
                                </h5>
                                <span>CEO & CO-FOUNDER</span>
                                <div class="speaker-social">
                                    <a href="#"><i class="fab fa-facebook"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="speaker-prev">
                        <i class="fal fa-long-arrow-alt-right"></i>
                    </div>
                    <div class="speaker-next">
                        <i class="fal fa-long-arrow-alt-right"></i>
                        <ion-icon class="fa fa-heart"></ion-icon>
                        or
                        <i class="fas fa-check-circle"></i>

                    </div>
                </div>
            </div>
        </section> -->

        <!-- ==========Speaker-Section========== -->

        <!-- ==========Event-Section========== -->
        <!-- <section class="event-details padding-bottom">
            <div class="container">
                <div class="section-header-3">
                    <span class="cate">SPONSORS</span>
                    <h2 class="title">Partners & Sponsors</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout</p>
                </div>
                <div class="tabTwo sponsor-tab">
                    <div class=" owl-carousel sponsor-slider">
                        <div class="sponsor-thumb">
                            <a href="#">
                                <img src="/assets/img/sponsor/01.svg" alt="sponsor">
                            </a>
                        </div>
                        <div class="sponsor-thumb">
                            <a href="#">
                                <img src="/assets/img/sponsor/01.svg" alt="sponsor">
                            </a>
                        </div>
                        <div class="sponsor-thumb">
                            <a href="#">
                                <img src="/assets/img/sponsor/01.svg" alt="sponsor">
                            </a>
                        </div>
                        <div class="sponsor-thumb">
                            <a href="#">
                                <img src="/assets/img/sponsor/01.svg" alt="sponsor">
                            </a>
                        </div>
                        <div class="sponsor-thumb">
                            <a href="#">
                                <img src="/assets/img/sponsor/01.svg" alt="sponsor">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section> -->
     
     
     
     <div class="container my-4" *ngIf="events">
  <!-- Banner -->
  <div class="row">
    <div class="col-12">
      <img
        [src]="events.banner_path"
        alt="Event Banner"
        class="img-fluid rounded shadow-sm w-100"
        style="max-height: 400px; object-fit: cover;"
      />
    </div>
  </div>

  <!-- Event Info -->
  <div class="row mt-4">
    <div class="col-12 col-md-8">
      <h2 class="fw-bold">{{ events.title }}</h2>
      <p class="text-muted">{{ events.description }}</p>
      <p>
        <i class="fa-solid fa-location-dot me-2"></i>
        {{ events.location }} - {{ events.address }}
      </p>
      <p>
        <i class="fa-regular fa-calendar me-2"></i>
        {{ events.start_datetime | date:'medium' }} → {{ events.end_datetime | date:'medium' }}
      </p>
    </div>

    <!-- Ticket Info -->
    <div class="col-12 col-md-4">
      <div class="card shadow-sm border-0">
        <div class="card-body">
          <h5 class="card-title">Tickets</h5>

          <!-- Free Ticket -->
          <div *ngIf="events.ticketType === 'Free'">
            <p><strong>Type:</strong> Free</p>
            <p><strong>Seats:</strong> {{ events.freeSeats ?? 'Unlimited' }}</p>
          </div>

          <!-- Paid Tickets -->
          <div *ngIf="events.ticketType === 'Paid'">
            <p><strong>Type:</strong> Paid</p>
            <div class="table-responsive">
              <table class="table table-sm table-bordered align-middle text-center">
                <thead class="table-light">
                  <tr>
                    <th>Name</th>
                    <th>Seats</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ticket of events.paidTickets">
                    <td>{{ ticket.name }}</td>
                    <td>{{ ticket.seats ?? 'N/A' }}</td>
                    <td>{{ ticket.price | currency }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Status -->
  <div class="row mt-3">
    <div class="col-12">
      <span
        class="badge"
        [ngClass]="{
          'bg-success': events.status === 'Published',
          'bg-secondary': events.status === 'Draft'
        }"
      >
        {{ events.status }}
      </span>
    </div>
  </div>

  <!-- Gallery -->
  <div class="row mt-5" *ngIf="events.images">
    <h4 class="mb-3">Gallery</h4>
    <!-- Adjust if multiple images (array) instead of single -->
    <div class="col-12 col-md-6 col-lg-4 mb-3">
      <img
        [src]="events.images"
        alt="Event Image"
        class="img-fluid rounded shadow-sm"
        style="height: 250px; object-fit: cover; width: 100%;"
      />
    </div>
  </div>
</div>

     
        

    </div>
    <app-footer></app-footer>

<!-- </ion-content> -->