<ion-header>
  <ion-toolbar class="custom-toolbar">

    <div class="navbar-container">
      <!-- Logo -->
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/home']" class="logo-button">
          <ion-img src="assets/img/logo/logo.png" alt="Ticket Logo" class="logo-img"></ion-img>
        </ion-button>
      </ion-buttons>

      <!-- Navigation Links -->
      <ion-buttons slot="end" class="nav-links">
        <ion-button [routerLink]="['/home']" routerLinkActive="active">Home</ion-button>
        <ion-button (click)="RouteME()">Events</ion-button>
        <ion-button [routerLink]="['/blog']" routerLinkActive="active">Blog</ion-button>
        <ion-button [routerLink]="['/event']" routerLinkActive="active">Contact</ion-button>
        <!-- Login and Logout Separate --><!-- Login and Logout Separate -->
        <ion-button [routerLink]="['/login']" class="m-2">
          <i class="fas fa-sign-in-alt"></i>&nbsp;Login
        </ion-button>

        <!-- <ion-button [routerLink]="['/logout']" class="m-2">
          <i class="fas fa-sign-out-alt"></i>&nbsp;Logout
        </ion-button> -->
        <!-- Join Us Dropdown -->
        <ion-button [routerLink]="['/register']" class="m-2" id="join-us-button">
          <i class="fas fa-user-plus"></i>&nbsp;Join Us
        </ion-button>

      </ion-buttons>
    </div>

  </ion-toolbar>
</ion-header>